{% extends "layout.njk" %}



{% block head %}

  <title>
    revenue

  </title>

{% endblock %}  

{% block content %}


  <section class="cards">


    {% for datas in data %}

      <div class="card" id="{{datas.id}}">

          <img class="image" src="{{datas.image}}">
          <p class="burger">{{datas.title}}</p>
          <div class="autor">{{datas.author}}</div>

        </div>
  
    {% endfor %}

  </section>

{% endblock %}

