{% extends "layoutAdmin.njk"  %}


{% block head  %}
  <title>Editar receitas </title>
{% endblock %} 

{% block content %}


  <form method="POST" action="/?_method=PUT" >

  <div class="card_recipes" >

    <div class="fildsCardHeader">
      <h1 id ="titleFilds">Editando receita</h1>

      <div>
       
            <button>Deletar receita</button>
        </a>

            <button type="submit">Salvar receita</button>
        </a>
      </div>
    
    </div>


  

        <input name="id" type="hidden" value="{{recipesTable.id }}" />


        
        <p>Imagem da receita</p><input  name="recipeUrl" type="url" value="{{recipesTable.recipeUrl}}">
     
           
        

        <div>      
            <p >Ingredientes</p>
            <ul >
                {% for ingredients in recipesTable.ingredients %}
                <li name="ingredients" id ="content_igredients" >{{ ingredients }};</li>
                {% endfor %}
            </ul>
        </div>


        <div>
            <p>Modo de preparo</p>

             <ul >
                {% for preparation in recipesTable.preparation %}
                    <li name="manner" id ="content_preparation" >{{ preparation }} </li>
                {% endfor %}
            </ul>
        </div>
      

       </div>
        <div class="info_add">
        
            <p>Informações adicionais</p>
        <ul class="show"> 
          <li> <input  name="infoAdd" id ="content_information"  value="{{ recipesTable.infoAdd }}"/></li>
        </ul>
      </div>

         
    </form>
    





{% endblock %}

