<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    
    , initial-scale=1.0">
    <title>Editar receitas </title>
</head>
<body>
    
</body>
</html>


{% block head  %}
 
{% endblock %} 

{% block content %}

    <header>
        <img class="logo" src="/logoWhite.png">
    </header>



  <div class="card_recipes" >

    <div class="fildsCardHeader">
      <h1 id ="titleFilds">Editando receita</h1>

      <div>
        <a href="/admin/edit/{{data_function.id}}">
            <button>Deletar receita</button>
        </a>

        <a href="/admin/edit/{{data_function.id}}">
            <button>Salvar receita</button>
        </a>
      </div>
    
    </div>


    <form action="" method="POST">
        <p>Imagem da receita</p><input type="url" value="{{data_function.image}}">

        <div>      
            <p >Ingredientes</p>
            <ul >
                {% for ingredients in data_function.ingredients %}
                <li id ="content_igredients" >{{ ingredients }};</li>
                {% endfor %}
            </ul>
        </div>


        <div>
            <p>Modo de preparo</p>

             <ul >
                {% for preparation in data_function.preparation %}
                    <li id ="content_preparation" >{{ preparation }} </li>
                {% endfor %}
            </ul>
        </div>
      

       </div>
        <div class="info_add">
        
            <p>Informações adicionais</p>
        <ul class="show"> 
          <li> <p id ="content_information">{{data_function.information}} </p></li>
        </ul>
      </div>

         
    </form>
    





{% endblock %}

