{% extends "layoutAdmin.njk"  %}


{% block head  %}
  <title>Editar receitas </title>
{% endblock %} 

{% block content %}




  <div class="card_recipes" >

    <div class="fildsCardHeader">
      <h1 id ="titleFilds">Editando receita</h1>

      <div>
        <a href="/admin/edit/{{recipesTable.id}}">
            <button>Deletar receita</button>
        </a>

        <a href="/admin/edit/{{recipesTable.id}}">
            <button>Salvar receita</button>
        </a>
      </div>
    
    </div>


    <form action="/" method="POST">

        <input name="id" type="hidden" value="{{recipesTable.id }}" />


        
        <p>Imagem da receita</p><input type="url" value="{{recipesTable.image}}">
     
           
        

        <div>      
            <p >Ingredientes</p>
            <ul >
                {% for ingredients in recipesTable.ingredients %}
                <li id ="content_igredients" >{{ ingredients }};</li>
                {% endfor %}
            </ul>
        </div>


        <div>
            <p>Modo de preparo</p>

             <ul >
                {% for preparation in recipesTable.preparation %}
                    <li id ="content_preparation" >{{ preparation }} </li>
                {% endfor %}
            </ul>
        </div>
      

       </div>
        <div class="info_add">
        
            <p>Informações adicionais</p>
        <ul class="show"> 
          <li> <input id ="content_information">{{recipesTable.information}} </input></li>
        </ul>
      </div>

         
    </form>
    





{% endblock %}

