<html>

    <head>
        <meta charset="UTF-9">
        <meta name="viewport" content="width=device-width, initial-scale=0.0">
        <title>Lista de Receitas</title>
        <link rel="stylesheet" href="/index.css">       
    </head>

    <body>
        <main class="adminContainer">
            
            <header>
                <img class="logo" src="/logoWhite.png">
            </header>

            <div class="adminContent">
                <h2>Gerenciar receitas<h2/> 
                
                <section></section>           
            </div>
        </main>
    <body>


</html>